# Lab 4:
> Implementing Decision Tree (ID3) Algorithm

## Imports

In [1]:
#pip install pydot

In [2]:
# pip install graphviz

In [3]:
import pandas as pd
from IPython.display import display_html, Image
from sklearn import tree
from sklearn.tree import export_graphviz
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
import pydot
from graphviz import Source

## Functions

In [4]:
def toy_dataset():
    animal =[
        ["human", 1, 1, 0, 0, 1, 0,"mammals"],
        ["python", 0, 0, 0, 0, 0, 1, "reptiles"],
        ["frog", 0, 0, 1, 0, 1, 1, "amphibians"],
        ["whale", 1, 1, 1, 0, 0, 0, "mammals"],
        ["salmon", 0, 0, 1, 0, 0, 0, "fishes"],
        ["komodo", 0, 0, 0, 0, 1, 0, "reptiles"],
        ["bat", 1, 1, 0, 1, 1, 1, "mammals"],
        ["piegon", 1, 0, 0, 1, 1, 0, "birds"],
        ["cat", 1, 1, 0, 0, 1, 0, "mammals"],
        ["eel", 0, 0, 1, 0, 0, 0, "fishes"],
        ["salamander", 0, 0, 1, 0, 1, 1, "amphibians"],
        ["penguin", 1, 0, 1, 0, 1, 0, "birds"],
        ["leopard shark", 0, 1, 1, 0, 0, 0, "birds"],
        ["turtle", 0, 0, 1, 0, 1, 0, "reptiles"],
        ["porcupine", 1, 1, 0, 0, 1, 1, "mammals"]
    ]
    
    titles = ["name", "warm_blooded", "give_birth",
              "aquatic_creature", "aerial_creature", 
              "has_legs", "hibernates", "class"]
    
    data = pd.DataFrame(animal, columns = titles)
    
    data['class'] = data['class'].replace(['fishes', 'birds', 'amphibians', 'reptiles'], 'non-mammals')
    print("Do you want to view the data?")
    choice = input()
    if choice == 'yes':
        display_html(data)
    return data

In [5]:
def build_model(data):
    y = data['class']
    X = data.drop(['name', 'class'], axis = 1)
    clf = tree.DecisionTreeClassifier(criterion = 'entropy', max_depth = 3)
    clf = clf.fit(X, y)
    return clf

In [6]:
def prediction_using_model(clf):
    testData = [
        ['gila monster', 0, 0, 0, 0, 1, 1, 'non-mammals'],
        ['platypus', 1, 0, 0, 0, 1, 1, 'mammals'],
        ['owl', 1, 0, 0, 1, 1, 0, 'non-mammals'],
        ['dolphin', 1, 1, 1, 0, 0, 0, 'mammals']
    ]
    titles = ["name", "warm_blooded", "give_birth",
              "aquatic_creature", "aerial_creature", 
              "has_legs", "hibernates", "class"]
    
    testData = pd.DataFrame(testData, columns = titles)
    
    testData['class'] = testData['class'].replace(['fishes', 'birds', 'amphibians', 'reptiles'], 'non-mammals')
    print("Do you want to view the data?")
    choice = input()
    if choice == 'yes':
        display_html(testData)
    
    # Splitting test data
    y_test = testData["class"]
    X_test = testData.drop(["name", "class"], axis = 1)
    y_pred = clf.predict(X_test)
    predictions = pd.concat([testData["name"], pd.Series(y_pred, name = 'predicted_class')], axis = 1)
    print("Prediction for your test data is:")
    display_html(predictions)
    
    # Model Evaluation
    print("Do you want to view Evaluation of model?")
    choice = input()
    if choice == 'yes':
        model_evaluation(y_pred, y_test)
    else:
        quit()

In [7]:
def model_evaluation(y_pred, y_test):
    print("Confusion Matrix")
    report = confusion_matrix(y_test, y_pred)
    clf = pd.DataFrame(report).transpose()
    display_html(clf)
    score = accuracy_score(y_test, y_pred)
    print(f"Decision Tree accuracy: {score}")
    print("Classification Report")
    report = classification_report(y_test, y_pred, output_dict = True)
    df = pd.DataFrame(report).transpose()
    display_html(df[['precision', 'recall', 'f1-score']].head(2))

In [8]:
def main():
    data = toy_dataset()
    model = build_model(data)
    
    columns = ["warm_blooded", "give_birth",
              "aquatic_creature", "aerial_creature", 
              "has_legs", "hibernates"]
    # visualize tree
    dot_data = tree.export_graphviz(model,'tree.dot', class_names = True)
    !dot -Tpng tree.dot -o tree.png
    print("Your decision tree constructed successfully, check the current directory for tree.png")
    prediction_using_model(model)

In [9]:
main()

Do you want to view the data?
yes

,name,warm_blooded,give_birth,aquatic_creature,aerial_creature,has_legs,hibernates,class
0,human,1,1,0,0,1,0,mammals
1,python,0,0,0,0,0,1,non-mammals
2,frog,0,0,1,0,1,1,non-mammals
3,whale,1,1,1,0,0,0,mammals
4,salmon,0,0,1,0,0,0,non-mammals
5,komodo,0,0,0,0,1,0,non-mammals
6,bat,1,1,0,1,1,1,mammals
7,piegon,1,0,0,1,1,0,non-mammals
8,cat,1,1,0,0,1,0,mammals
9,eel,0,0,1,0,0,0,non-mammals
10,salamander,0,0,1,0,1,1,non-mammals
11,penguin,1,0,1,0,1,0,non-mammals
12,leopard shark,0,1,1,0,0,0,non-mammals
13,turtle,0,0,1,0,1,0,non-mammals
14,porcupine,1,1,0,0,1,1,mammals

Your decision tree constructed successfully, check the current directory for tree.png
Do you want to view the data?
yes

,name,warm_blooded,give_birth,aquatic_creature,aerial_creature,has_legs,hibernates,class
0,gila monster,0,0,0,0,1,1,non-mammals
1,platypus,1,0,0,0,1,1,mammals
2,owl,1,0,0,1,1,0,non-mammals
3,dolphin,1,1,1,0,0,0,mammals

Prediction for your test data is:

,name,predicted_class
0,gila monster,non-mammals
1,platypus,non-mammals
2,owl,non-mammals
3,dolphin,mammals

Do you want to view Evaluation of model?
yes
Confusion Matrix

,0,1
0,1,0
1,1,2

Decision Tree accuracy: 0.75
Classification Report

,precision,recall,f1-score
mammals,1.000000,0.5,0.666667
non-mammals,0.666667,1.0,0.800000